{% endblock %}
{% extends 'base.html' %}
{% block content %}

<h2 class="titulo">RECEITAS</h2>

<div class="row">
    {% for lista_receita in receitas %}
    <div class="card">
        <a href="{{lista_receita.get_absolute_url}}"
        <img src="{{lista_receita.imagem.url}}" class="imagem">
        <br>
        <span class="receita">{{lista_receita.nome}}</span>
        <br><br>
        <button class="compra" > <a href="detalhes_produto/{{lista_receita.id}}">Detalhes</a></button>
    </div>

{% endfor %}
</div>

{% endblock %}
